body {
  background-image: url('../assets/tx.jpg');
}
body {
  color: azure;
  font-size: 23px;
}
.fade-enter-active, .fade-leave-active{
  transition: opacity .5s

}
.fade-enter, .fade-leave-to{
  opacity: 0
}
